Repository kokatsu/floerkea: changes, and which lefthook commands are due for each by the changed paths.
All: biome, actionlint

biome:
  run: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

actionlint:
  run: actionlint

ci(mermaid): add Mermaid diagram diff commenting to PRs
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

ci(mermaid): improve script robustness and GitHub Actions compatibility
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

ci(mermaid): apply shellcheck fixes
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

docs(mermaid): add Mermaid flowchart for file change and validation process
  docs/mermaid/flowchart.mmd
Due: none

ci(mermaid): improve mermaid-diff-comment workflow to handle added and modified files
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

docs(mermaid): change wording
  docs/mermaid/flowchart.mmd
Due: none

ci(mermaid): trigger Mermaid diff-comment on additional PR events
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

ci(mermaid): monitor changes to mermaid-diff-comment workflow file
  .github/workflows/mermaid-diff-comment.yml
Due: actionlint

chore(deps): add mermaid package
  bun.lockb
  package.json
  yarn.lock
Due: biome

feat(types): add types for Mermaid flowchart parser (Direction, Edge, Node)
  src/types/direction.ts
  src/types/edge.ts
  src/types/node.ts
Due: biome

feat(utils): add custom ParseError class and error codes for parser
  src/utils/errors.ts
Due: biome

feat(types): add type definitions for Mermaid flowchart parser interface
  src/types/parser.ts
Due: biome

test(bun): configure test coverage
  bunfig.toml
Due: none

feat(utils): add formatters for converting ParseResult to Mermaid, JSON, and text formats
  src/utils/formatters.ts
  test/utils/formatters.test.ts
Due: biome

feat(utils): add validators for nodes, edges, directions, and colors
  src/utils/validators.ts
  test/utils/validators.test.ts
Due: biome

feat(matchers): add NodeMatcher for parsing and formatting node shapes
  src/matchers/node.ts
  test/matchers/node.test.ts
Due: biome

feat(matchers): add EdgeMatcher for parsing and formatting edge definitions
  src/matchers/edge.ts
  test/matchers/edge.test.ts
Due: biome

feat(parsers): add BaseParser and FlowchartParser for parsing and validating flowcharts
  src/parsers/base.ts
  src/parsers/flowchart.ts
  test/parsers/flowchart.test.ts
Due: biome

fix(utils): add missing node shapes to the validShapes list in validateNodeShape
  src/utils/validators.ts
Due: biome

refactor(flowchart): move FlowchartNode and FlowchartNodeType definitions to separate types module
  src/parsers/flowchart.ts
  src/types/flowchart.ts
Due: biome

feat(parsers): add node ID to determineNodeTypeAndStyle logic
  src/parsers/flowchart.ts
Due: biome

feat(types): add TestCase type with priority and structure
  src/types/testcase.ts
Due: biome

feat(generators): add a FlowchartTestCaseGenerator that generates test cases from flowchart diagrams
  src/generators/flowchart.ts
  test/generators/flowchart.test.ts
Due: biome

feat(generators): add Markdown test case generator
  src/generators/markdown.ts
Due: biome

chore(scripts): add generate script for test case generation
  package.json
  scripts/generate.ts
Due: biome

docs(testcases): add auto-generated test cases for flowchart processing
  docs/testcases/flowchart.mmd.md
Due: none

docs(mermaid): add new branch for handling new and modified comments in flowchart
  docs/mermaid/flowchart.mmd
  docs/testcases/flowchart.mmd.md
Due: none

chore(deps): bump bun packages
  bun.lockb
  yarn.lock
Due: none

chore(deps-dev): bump @types/bun package
  bun.lockb
  yarn.lock
Due: none

chore(package): add packageManager field for Bun
  package.json
Due: biome

chore(package): bump package manager bun to 1.1.38
  package.json
Due: biome

ci(typos): add GitHub Actions workflow for typo checking
  .github/workflows/typos.yml
Due: actionlint

chore(deps): bump bun packages
  bun.lockb
  package.json
  yarn.lock
Due: biome

chore(textlint): add textlint packages
  bun.lockb
  package.json
  yarn.lock
Due: biome

chore(textlint): add textlint configuration
  .textlintrc.json
  package.json
Due: biome

refactor(generators): simplify and clean up flowchart test case generation logic
  scripts/generate.ts
  src/generators/flowchart.ts
Due: biome

docs(testcases): update Mermaid diagrams and test case descriptions for consistency
  docs/mermaid/flowchart.mmd
  docs/testcases/flowchart.mmd.md
Due: none

build(textlint): migrate textlint to use Bun and custom script
  package.json
  scripts/textlint.ts
Due: biome

chore(deps): update dependencies and migrate to Biome 2
  .lefthook.jsonc
  biome.jsonc
  bun.lock
  bun.lockb
  bunfig.toml
  lefthook.yml
  package.json
  src/generators/flowchart.ts
  src/parsers/flowchart.ts
  test/matchers/edge.test.ts
  test/matchers/node.test.ts
  yarn.lock
Due: biome

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  actionlint: any of: *.yml and ^\.github/workflows/
